.nav-link{
    margin-right :9px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.navbar{
    background-color: #15B468;
    font-family: 'Poppins',  sans-serif;
}
/* .navbar-brand{
    padding-right:600px;
    
} */

.float{
 display: flex;
 justify-content: end;
 padding-right: 20px;
}

.resume:hover{
    cursor: pointer;
}